@use '../common/breakpoint' as *;

@layer utilities {
  .login-regiter-layout {
    margin: 50px auto 0;
    padding: 0 15px;


    @include respond-to(md) {
      max-width: 500px;
      margin: 200px auto 0;
      padding: 0;
    }
  }
}
